<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form [formGroup]="formLogin" (ngSubmit)="onLogin(formLogin.value)">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" placeholder="Username" formControlName="username">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" formControlName="password">
                    </div>
                    <div>
                        <a routerLink="/forgot-password">Forgot Password ?</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-sm">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>