<div class="row mt-3">
    <form [formGroup]="formLogin" class="mb-3" (ngSubmit)="onLogin(formLogin.value)">
        <div class="col-sm-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Login</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" placeholder="Username" class="form-control" formControlName="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" placeholder="Password" class="form-control" formControlName="password">
                    </div>
                    <div class="mb-3">
                        <a routerLink="/forgot-password">Forgot Password ?</a>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-primary btn-block" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>